<div id="header" class="flex align-items-center justify-content-between h-4rem p-4  ">
  <div class="">
    <p class="text-2xl primary-color font-bold">Tu Rifa</p>
  </div>
  <!-- Caja de opciones -->
  <div class="flex gap-4  justify-content-between  align-items-center">

    <div class="flex  gap-2 align-items-center cursor-pointer">
      <i class="text-lg font-semibold pi pi-instagram" style="color: #ac48b9;"></i>
      <span class="font-semibold text-lg">Instagram</span>
    </div>

    <!-- WASAP -->
    <div class="flex  gap-2 align-items-center cursor-pointer">
      <i class="text-lg font-semibold pi pi-whatsapp " style="color: #48b986;"></i>
      <span class="font-semibold text-lg">WhatsApp</span>
    </div>

    <!-- BOTON DEL LOGUEO -->
    <div class="flex gap-2">
      <button (click)="openModal('sign-in')" pButton pRipple class="p-button-sm text-white ">Iniciar Sesión</button>
      <button (click)="openModal('sign-up')" pButton pRipple class="p-button-sm p-button-outlined">Registrarse</button>
    </div>

  </div>
</div>


<!-- MODAL -->
<p-dialog [modal]="true" [(visible)]="viewDialog" [style]="{ width: '38rem' }">
  <ng-template pTemplate="content">

    <ng-container *ngIf="modeSign == 'sign-in'; else signUp">
      <ng-container *ngTemplateOutlet="singIn;"></ng-container>
    </ng-container>

    <ng-template #signUp>
      <ng-container *ngTemplateOutlet="singUp;"></ng-container>
    </ng-template>
  </ng-template>

  <!-- <ng-template pTemplate="footer">
    <div class="flex justify-content-end gap-2 p-2">
      <button pButton pRipple class="p-button-sm text-white p-button-danger"
        (click)="viewDialog = false">Cancelar</button>
      <button pButton pRipple class="p-button-sm text-white" (click)="viewDialog = false">Confirmar</button>
    </div>
  </ng-template> -->
</p-dialog>

<!-- PLNATILLA PARA INICIAR SESIÓN -->
<ng-template #singUp>
  <div class="flex flex-column align-items-center mb-3">
    <span class="text-2xl primary-color font-bold  mb-1 text-center">Registro</span>
    <div class="flex align-items-center gap-2 ">
      <span>¿Ya tienes una cuenta?</span>
      <a (click)="modeSign = 'sign-in'" class="cursor-pointer primary-color font-semibold">Inicia Sesión</a>
    </div>
  </div>

  <div class="grid">
    <div class="flex flex-column gap-2 col-6 my-3">
      <label class="text-sm font-semibold" for="nombre">Nombre</label>
      <input type="text" pInputText id="nombre" placeholder="Juan David">
    </div>

    <div class="flex flex-column gap-2 col-6 my-3">
      <label class="text-sm font-semibold" for="telefono">Teléfono</label>
      <input type="text" pInputText id="telefono" placeholder="0412-93994930">
    </div>

    <div class="flex flex-column gap-2 col-12">
      <label class="text-sm font-semibold" for="email">Correo</label>
      <input type="email" pInputText id="email" placeholder="juandavid@.com">
    </div>

    <!-- Contraseña y Repetir Contraseña en una misma fila -->
    <div class="grid gap-2 col my-3">
      <div class="flex flex-column gap-2 col-6">
        <label class="text-sm font-semibold" for="pass">Contraseña</label>
        <input type="password" pInputText id="pass">
      </div>

      <div class="flex flex-column gap-2 col">
        <label class="text-sm font-semibold" for="repass">Repetir Contraseña</label>
        <input type="password" pInputText id="repass">
      </div>
    </div>

    <button pButton pRipple class="my-3 p-button-sm text-white w-full flex justify-content-center"
      (click)="viewDialog = false">Enviar</button>
  </div>
</ng-template>

<!-- PLNATILLA PARA CREAR CUENTA -->
<ng-template #singIn>

  <div class="flex flex-column align-items-center  mb-3">
    <p class="text-2xl primary-color font-bold mb-1 text-center">Inicias Sesión</p>
    <div class="flex align-items-center gap-2">
      <span>¿No tienes una cuenta?</span>
      <a (click)="modeSign = 'sign-up'" class="primary-color font-semibold cursor-pointer">Crear Cuenta</a>
    </div>
  </div>

  <div class="grid">
    <div class="flex flex-column gap-2 col-12">
      <label class="text-sm font-semibold" for="email">Correo</label>
      <input type="email" pInputText id="email" />
      <span class="font-medium text-sm primary-color text-right" for="">¿Olvidaste tu contraseña?</span>
    </div>

    <div class="flex flex-column gap-2 col-12 my-3">
      <label class="text-sm font-semibold" for="pass">Contraseña</label>
      <input type="password" pInputText id="pass" />
    </div>

    <button pButton pRipple class="p-button-sm text-white w-full flex justify-content-center"
      (click)="viewDialog = false">Enviar</button>
  </div>
</ng-template>